/*   fonts     */

@font-face {
  font-family: 'header-font';
  src:  url('../fonts/Hero.otf');
}



/*   Home Seciton    */

#home {
    height: 100vh;
    background: url('../images/main-background-image.png') no-repeat;
    background-size: cover;
}

/*
.background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
*/

.main-logo {
    width: 150px;
    margin-left: 1%;
}

.oval-image {
    position: absolute;
    z-index: 1;
    top: 24%;
    left: 30%;
}

h1 {
    font-family: header-font;
    text-transform: capitalize;
    position: absolute;
    top: 260px;
    right: 70px;
    color: #fff;
    text-shadow: 4px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}




.rectangular-top-left,
.rectangular-top-center,
.rectangular-top-left-about {
    position: absolute;
    z-index: -1;
    opacity: 0.42;
    border: 1px solid #979797;
}


.rectangular-top-left {
    left: 10%;
    top: 10%;
    height: 60%;
    width: 400px;
}

.rectangular-top-center {
    left: 30%;
    top: 50%;
    height: 30%;
    width: 70%;
}



/*   About Seciton    */

#about {
    height: 100vh;
    position: relative;
}

.container {
    position: relative;
}

.rectangular-top-left-about {
    left: 0;
    top: 5px;
    height: 450px;
    width: 75%;
    z-index: -1;
}

.about-us {
    position: absolute;
    top: -20%;
    height: 500px;
    width: 400px;
    background: #343434;
}

.about-us>h2 {
    font-family: header-font, sans-serif;
    margin: 50px 30% 0;
    color: #FDC57C;
}

.about-us p {
    padding: 15px 25px;
    color: #fff;
}

.service-icons {
    position: relative;
}

.ind-serv-icons {
    top: 330px;
    left: 150px;
    position: absolute;
    width: 150px;
    height: 150px;
    background: #D8D8D8;
    display: inline-block;
}

.left-icon {
    top: 240px;
    right: 300px;
    /* background: red; */
}

.top-icon {
    top: 80px;
    left: 360px;
    /* background: pink; */
}

.right-icon {
    top: 160px;
    left: -60px;
    /* background: silver; */
}

.bottom-icon {
    top: 20px;
    /* background: yellow; */
}



/*media queries*/

@media all and (max-width: 1690px) {
    
}

@media all and (max-width: 1280px) {
    
}

@media all and (max-width: 980px) {
    
}

@media all and (max-width: 736px) {
    
}

@media all and (max-width: 480px) {

    .rectangular-top-left,
    .rectangular-top-center,
    .rectangular-top-left-about {
        display: none;
    }
    #home {
        width: 100%;
    }

    
    
    .ind-serv-icons {
        position: static;
        display: block;
    }
    
    .about-us {
        position: static;
        width: auto;
    }

    .about-us>h2 {
        margin-left: 20%;
    }

    .ind-serv-icons {
        width: 150px;
        margin:  2% auto;
    }

}
